## Excercise two of Getting and Knowing your Data - Occupation


### Step 1. Importing the necessary libraries

In [130]:
import pandas as pd
import numpy as np

### Step 2. Importing the dataset from: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

### Step 3. Assigning the address to a variable called chipo.

In [131]:
# Importing the pandas library, commonly used for data manipulation and analysis
import pandas as pd

# Defining the URL where the dataset is located
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Reading the dataset from the specified URL into a pandas DataFrame
# `pd.read_csv` is a function provided by the pandas library to read comma-separated files (CSV) into a DataFrame
# Here, the `sep` parameter is set to '\t' to specify that the file is tab-separated (TSV format)
# The data will be stored in the variable `chipo`, which will be a pandas DataFrame object
chipo = pd.read_csv(url, sep='\t')

### Step 4. Seeing the first 10 entries

In [132]:
# Displaying the first 10 rows of the `chipo` DataFrame
# `chipo.head(10)` is a pandas DataFrame method that returns the first n rows (default n=5) of the DataFrame
# Here, we specify `10` as the argument to display the first 10 rows
# This is useful for quickly inspecting the structure and contents of the DataFrame
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. Finding the number of observations in the dataset

In [133]:
# Solution 1

# Obtaining the number of rows in the `chipo` DataFrame
# `chipo.shape` returns a tuple representing the dimensions of the DataFrame, where the first element is the number of rows
# Accessing the first element of the tuple with `[0]` retrieves the number of rows
# This is useful for determining the total number of observations or entries in the DataFrame
chipo.shape[0]  # entries <= 4622 observations

4622

In [134]:
# Solution 2

# Displaying concise summary information about the `chipo` DataFrame
# `chipo.info()` is a pandas DataFrame method that provides a summary of the DataFrame including the column names, data types, non-null values, and memory usage
# This is useful for understanding the structure of the DataFrame, checking for missing values, and assessing memory usage
chipo.info()  # entries <= 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. Finding the number of columns in the dataset

In [135]:
# Obtaining the number of columns in the `chipo` DataFrame
# `chipo.shape` returns a tuple representing the dimensions of the DataFrame, where the second element is the number of columns
# Accessing the second element of the tuple with `[1]` retrieves the number of columns
# This is useful for determining the total number of features or variables in the DataFrame
chipo.shape[1]

5

### Step 7. Printing the name of all the columns

In [136]:
# Obtaining the column names of the `chipo` DataFrame
# `chipo.columns` returns a pandas Index object containing the column names of the DataFrame
# This is useful for understanding the names of the features or variables in the DataFrame
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How the dataset is indexed

In [137]:
# Obtaining the index of the `chipo` DataFrame
# `chipo.index` returns a pandas Index object containing the index labels of the DataFrame
# This is useful for understanding the index structure of the DataFrame, which may represent row identifiers or labels
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Finding the most-ordered item

In [138]:
# Grouping the `chipo` DataFrame by 'item_name'
# `chipo.groupby('item_name')` groups the DataFrame by the values in the 'item_name' column, creating a GroupBy object
c = chipo.groupby('item_name')

# Summing the grouped data
# `.sum()` calculates the sum of each numeric column within each group
c = c.sum()

# Sorting the grouped data by the 'quantity' column in descending order
# `.sort_values(['quantity'], ascending=False)` sorts the DataFrame by the 'quantity' column in descending order
c = c.sort_values(['quantity'], ascending=False)

# Displaying the top row of the sorted DataFrame
# `.head(1)` returns the first row of the DataFrame, which represents the item with the highest quantity ordered
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 10. Finding how many items were ordered in the most-ordered item

In [139]:
# Grouping the `chipo` DataFrame by 'item_name' using the pandas `groupby` method
c = chipo.groupby('item_name')

# Summing the grouped data using the `sum` method
# This aggregates the quantities of each item in the DataFrame
c = c.sum()

# Sorting the grouped data by the 'quantity' column in descending order using the `sort_values` method
# This sorts the DataFrame by the total quantity of each item, with the item having the highest quantity at the top
c = c.sort_values(['quantity'], ascending=False)

# Retrieving the top row of the sorted DataFrame using the `head` method with argument 1
# This returns the row representing the item with the highest quantity ordered
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 11. The most ordered item in the choice_description column

In [140]:
# Grouping the `chipo` DataFrame by 'choice_description' using the pandas `groupby` method
c = chipo.groupby('choice_description')

# Summing the grouped data using the `sum` method
# This aggregates the quantities of each choice description in the DataFrame
c = c.sum()

# Sorting the grouped data by the 'quantity' column in descending order using the `sort_values` method
# This sorts the DataFrame by the total quantity of each choice description, with the choice description having the highest quantity at the top
c = c.sort_values(['quantity'], ascending=False)

# Retrieving the top row of the sorted DataFrame using the `head` method with argument 1
# This returns the row representing the choice description with the highest quantity ordered
c.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

### Step 12. Total number of items ordered

In [141]:
# Calculating the total number of items ordered
# `chipo.quantity.sum()` calculates the sum of the 'quantity' column in the `chipo` DataFrame, representing the total number of items ordered
total_items_orders = chipo.quantity.sum()

# Displaying the total number of items ordered
total_items_orders

4972

#### Step 13a. Checking the item price type

In [142]:
# Retrieving the data type of the 'item_price' column in the `chipo` DataFrame
# `chipo.item_price.dtype` returns the data type of the 'item_price' column
# This is useful for understanding how prices are represented in the DataFrame
chipo.item_price.dtype

dtype('O')

#### Step 13b. Creating a lambda function and change the type of item price

In [143]:
# Defining a lambda function to convert string prices to float values
# `lambda x: float(x[1:-1])` is a lambda function that takes a string x (representing a price) and converts it to a float value by excluding the first and last characters (assumed to be currency symbols)
dollarizer = lambda x: float(x[1:-1])

# Applying the lambda function to the 'item_price' column in the `chipo` DataFrame
# `.apply(dollarizer)` applies the defined lambda function to each value in the 'item_price' column, converting string prices to float values
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13c. Checking the item price type

In [144]:
# Retrieving the data type of the 'item_price' column in the `chipo` DataFrame
# This will show the updated data type after applying the lambda function to convert string prices to float values
chipo.item_price.dtype

dtype('float64')

### Step 14. Finding the revenue for the period in the dataset

In [145]:
# Calculating the total revenue by multiplying the 'quantity' and 'item_price' columns element-wise and then summing the results
# `chipo['quantity'] * chipo['item_price']` calculates the revenue for each item by multiplying the quantity with its price
# `.sum()` then computes the total revenue by summing up all the individual item revenues
revenue = (chipo['quantity'] * chipo['item_price']).sum()

# Printing the total revenue rounded to two decimal places
# `np.round(revenue, 2)` rounds the total revenue to two decimal places using the numpy round function
# The rounded revenue is then concatenated with a string indicating the currency symbol ('$') and printed
print('Revenue was: $' + str(np.round(revenue, 2)))

Revenue was: $39237.02

### Step 15. Finding how many orders were made in the period

In [146]:
# Counting the number of unique order IDs in the `chipo` DataFrame
# `chipo.order_id.value_counts().count()` calculates the number of unique order IDs by first counting the occurrences of each order ID using `value_counts()` method, 
# and then counting the number of unique values using `count()` method
orders = chipo.order_id.value_counts().count()

# Printing the total number of orders
orders

1834

### Step 16. Average revenue amount per order

In [147]:
# Convert item_price to numeric, assuming it contains strings like '$2.50'
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)

# Calculate revenue
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

# Group by order_id and sum
order_grouped = chipo.groupby(by=['order_id']).sum()

# Calculate the mean revenue
mean_revenue = order_grouped['revenue'].mean()

print(mean_revenue)

21.39423118865867

In [148]:
# Solution 2

# Assuming chipo['revenue'] is calculated based on 'quantity' and 'item_price'

# Calculate revenue
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

# Group by order_id and sum
order_grouped = chipo.groupby(by=['order_id']).sum()

# Calculate the mean revenue
mean_revenue = order_grouped['revenue'].mean()

print(mean_revenue)

21.39423118865867

### Step 17. Finding how many different items are sold

In [149]:
# Counting the number of unique item names in the `chipo` DataFrame
# `chipo.item_name.value_counts().count()` calculates the number of unique item names by first counting the occurrences of each item name using `value_counts()` method, 
# and then counting the number of unique values using `count()` method
unique_item_count = chipo.item_name.value_counts().count()

# Printing the total number of unique item names
unique_item_count

50